<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mangodvelopers.imageuploader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewImage"
            android:label="View Images" >
        </activity>
        <activity
            android:name=".ImageListView"
            android:label="Image List View" >
        </activity>
        <activity
            android:parentActivityName=".ImageListView"
            android:name=".ViewFullImage"
            android:label="Full Image" >
        </activity>

    </application>

</manifest>
